.end-of-page {
    
    height: 150px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin-top: 250px;

}

.imp-privacy {
    cursor: pointer;
    text-decoration: none;
    color: black;
   

   :hover { color: red;
   
   }
}

.in-git-xing {
    cursor: pointer;

}

@media only screen and (max-width: 900px) {

    .end-of-page {
        margin-top: 30px;
        height: 100px;
        flex-direction: column-reverse;
        
    }

    .imp-privacy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-right: 30px;
        margin-left: 30px;
    }
    
    .in-git-xing {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .s-network {
        height: 50px;
        margin-right: 40px;
        margin-left: 40px;
    }


}