<div class="end-of-page">

    <div class="imp-privacy">
       <a class="imp-privacy" [routerLink]="['/imprint']" >imprint</a><br>
       <a class="imp-privacy" href="#menu" [routerLink]="['/privacy']" >privacy</a>
       
    </div>

    <div class="in-git-xing">
        <a routerLink="https://www.linkedin.com/in/piotr-dylla-a94607192/"><img class ="s-network" src="assets/img/linkedin-box-fill.png"></a>
        <a routerLink="https://github.com/PiotrDylla"><img class ="s-network" src="assets/img/github-fill.png"></a>
        <a routerLink="https://www.xing.com/profile/Piotr_Dylla"><img class ="s-network" src="assets/img/xing-fill.png"></a>

    </div>

</div>