<div class="end-of-page">

    <div class="imp-privacy">
       <a class="imp-privacy" [routerLink]="['/imprint']" >imprint</a><br>
       <a class="imp-privacy" href="#menu" [routerLink]="['/privacy']" >privacy</a>
       
    </div>

    <div class="in-git-xing">
        <a routerLink="/"><img class ="s-network" src="assets/img/linkedin-box-fill.png"></a>
        <a routerLink="/"><img class ="s-network" src="assets/img/github-fill.png"></a>
        <a routerLink="/"><img class ="s-network" src="assets/img/xing-fill.png"></a>

    </div>

</div>