<header class = menu-header>

<img class="logo-code" routerLink="/" src ="assets/img/LogoCode.png">

<div class = links-header>
<a routerLink="/">HOME</a>
<a href="#about">ABOUT</a>
<a href="#portflolio">PORTFOLIO</a>
</div>
<div class="media-menu">
    

    <div class="dropdown" style="float:left;">
        <button class="dropbtn"><img id ="media-menu-icon" src="assets/img/media-menu.png"></button>
        <div class="dropdown-content" style="left:0;">
         
          <a href="#about">ABOUT</a>
        <a href="#portflolio">PORTFOLIO</a>
        </div>
      </div>

</div>




</header>

