<div id="portflolio"class="third-container">

    <h2 class="my-skills">MY Work</h2>

    <div class="buttons-project">

    <button class="button-project">All</button>
    <button class="button-project">Angual</button>
    <button class="button-project">Java script</button>

</div>

<div class="projects">

    <div class="two-projects">
        <div id="RingOfFire" class="project"><img src="./assets/img/harley-quin-fire-ring.jpg" class="project-container"><button (click)="goTo();" class="click-project">GAME<br>Ring of Fire<br>Try out</button></div>
        <div id="ElPolloLoko" class="project"><img src="./assets/img/ElPolloLoco.png" class="project-container"><button class="click-project">GAME<br>El Pollo Loco<br>Try out</button></div>
    </div>

    <div class="two-projects">
        <div id="pokemon" class="project"><img src="./assets/img/pokemon.jpg" class="project-container"><button class="click-project">Pokemon Cards<br>Try out</button></div>
        <div class="project"><img src="./assets/img/question.jpg" class="project-container"><button class="click-project">Quiz GAME<br>Try out</button></div>
        
    </div>

</div>

</div>